.topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    /*linea de menu*/
    position: fixed;
    /* background-color: var(--primary-color);*/
    left: 0;
    top: 0;
    width: 100%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
    /* centrado*/
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--primario-color);
    margin: 0 auto;
}

.logo img {
    border-radius: 10%;
}

/*titulo-menu*/
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px;
}

.menu li {
    padding: 0 10px;
}

.menu a {
    color: var(--texto-color);
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    text-transform: uppercase;
}

.open-menu,
.close-menu {
    display: none;
}

@media(max-width:950px) {

    /*titulo-menu*/
    .menu {
        flex-direction: column;
        position: fixed;
        /*fixec*/
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--menu-mobile-background-color);
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }

    .menu li {
        padding: 0;
    }

    .menu a {
        color: var(--texto-color-inverso);
        font-size: 30px;
        font-weight: 500;
        line-height: 70px;
    }

    .open-menu,
    .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;

    }

    .close-menu {
        align-self: flex-end;
        padding: 28px 16px;
    }

    .menu_abrirCerrar {
        opacity: 1;
        pointer-events: all;
    }

    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
        outline: none;
    }
}